.dataTables_filter {
    display: none;
}

div.container_filters {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

div.buttons_filter {
    margin-bottom: 30px !important;
    margin: auto;
    width: fit-content;
}

div.campos_flex {
    display: flex;
    padding-left: 10px;

    /* margin-left: 30px; */
    /* margin-bottom: 30px !important; */
    /* margin: auto; */
    /* width: fit-content; */
}

div.flex>div {
    margin: 1px;
}

.hide_this_dt {
    display: none !important;
}

.container_filters_dt {
    height: fit-content ;
    /* width: fit-content; */
    margin: 5px auto ;
    transition-property: opacity, display, height;
    transition: 0.24s linear ;
}

.hide_this {
    height: 0px !important;
    opacity: 0 !important;
}

.control {
    padding: 1px;
}

.campo_filter {
    border-radius: 3px;
    transition-property: all;
    transition: 0.46s;
}
